.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--eastbay--color);

  &__container {
    position: relative;
    align-items: center;
    padding: 20px 15px;

    &::before {
      position: absolute;
      content: "";
      left: 50%;
      bottom: 0;
      width: calc(100% - (15px) * 2);
      height: 1px;
      background-color: var(--border-color);
      transform: translateX(-50%);
    }
  }
  &__left {
    grid-column: 2 span;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;
  }
}
