<section class="team">
  <img src="img/team-bg-img.svg" alt="" class="team__figure">
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="list-reset team__list grid">
      <li class="team__item">
        <picture>
          <source srcset="img/teams/1.webp" type="image/webp">
          <img loading="lazy" src="img/teams/1.jpg" class="team__img" width="" height="" alt="">
        </picture>
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__descr">Администратор</span>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/teams/2.webp" type="image/webp">
          <img loading="lazy" src="img/teams/2.jpg" class="team__img" width="" height="" alt="">
        </picture>
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__descr">Администратор</span>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/teams/3.webp" type="image/webp">
          <img loading="lazy" src="img/teams/3.jpg" class="team__img" width="" height="" alt="">
        </picture>
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__descr">Администратор</span>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/teams/4.webp" type="image/webp">
          <img loading="lazy" src="img/teams/4.jpg" class="team__img" width="" height="" alt="">
        </picture>
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__descr">Администратор</span>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/teams/5.webp" type="image/webp">
          <img loading="lazy" src="img/teams/5.jpg" class="team__img" width="" height="" alt="">
        </picture>
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__descr">Администратор</span>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/teams/6.webp" type="image/webp">
          <img loading="lazy" src="img/teams/6.jpg" class="team__img" width="" height="" alt="">
        </picture>
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__descr">Администратор</span>
      </li>
    </ul>
  </div>
</section>
